version: '3'

services:
  authrecipe:
    image: authrecipe:latest
    build: .
    container_name: Authrecipe
    depends_on:
       - postgresdb
    ports:
       - 0.0.0.0:3000:3000
  postgresdb:
    image: postgres
    container_name: MyPostgres
    ports:
       - 5432:5432
    environment:
       POSTGRES_PASSWORD: postgres
    volumes:
       - postgres-storage:/var/lib/postgresql/data
volumes:
    postgres-storage:

